.menu__section{
  padding: 0px 15px 0px 15px;
  font-weight: 500;
  color:rgb(241, 244, 247)
}

.splash{
font-weight: 700;
  max-width: 200px;
  margin: 15px;
  padding: 3px;
  position: absolute;
  margin-top: -10px;
  color:yellow;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin-left: -2px;
}

.question{
  padding: 30px;
  border: 1px blue solid;
  margin: 18px auto;
  max-width: 800px;
  border-radius: 8px;
  text-align: left;
  font-size: 18px;
  display: flex;
  line-height: 1.5;
  
}

.head_setting{
  background-color: rgb(31, 61, 115);
  height: 80px;
}

.table{
  max-width: 1170px;
  margin: 50px auto;
}

.name_title{
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 820px) {
  .head_setting{
    height: 43px;
  }

  .table{
    margin: 50px 20px;
  }
}