
/* MAP */

.question__button{
    display: flex;
    align-items: center;
    justify-content: center;
    width:150px;
    margin:20px auto;
    color: white;
    border-radius:6px;
    background-color:rgb(55, 84, 135);
    cursor: pointer;
    transition: .2s;
    font-weight: 700;
    padding: 5px 15px;
    min-height: 40px;
}

.question__button:hover{
cursor: pointer;
background-color:rgb(96, 132, 194);
}

.question__button:active{
cursor: pointer;
background-color:rgb(48, 63, 89);
}

.mapAndPhone{
    display: flex;
    justify-content: space-between;
}

.mapAndPhone_phone{
    width: 50%;
}

.mapAndPhone_map{
    width: 50%;
    opacity:0.8;
    margin:0px 0px 30px 40px;
}

.disclammer{
    width: 50%;
    margin: 0px 20px 20px;
    font-size: 11px;
    color:white;
    text-align: start;
}

.phoneForm{
    padding: 40px 40px 10px 40px;
    width: calc(100% - 80px);
}

/* FOOTER */

.footer{
    background-color:rgba(55, 84, 135, 0.6);
    padding: 40px 0px 20px 0px;
    color: white;
    display:flex;
    justify-content: space-around;
    width:100%
}

.footer__row{
    margin-right:'100px';
}

.footer__section{
text-align: left;
margin: 8px;
line-height: 1.75;
}

.footer__icons{
cursor: pointer;
margin: 13px;
font-size: 25px;
transition: .2s;
}

.footer__icons:hover{
opacity: .7;
}

.footer__title{
font-size:24px;
font-weight: 100;
margin-bottom: 10px;
}


@media (max-width: 1000px) {
    .mapAndPhone{
        display: block;
    }

    .mapAndPhone_phone{
        width: 70%;
        margin: auto;
    }

    .mapAndPhone_map{
        width: calc(100% - 100px);
        margin:0px 0px 30px 0px;
    }
}

@media (max-width: 820px) {

    .footer{
        display: block;
    }

    .footer__row{
        text-align: center;
    }

    .footer__section{
        text-align: center;
    }

}
@media (max-width: 820px) {
    .mapAndPhone_phone{
        width: 90%;
        margin: auto;
}}

@media (max-width: 540px) {
    .mapAndPhone_map{
        width: 92%;
    }

    .mapAndPhone_phone{
        width: 100%;
        margin: auto;
    }

    .disclammer{
        width: 50%;
        margin: 0px;
        font-size: 11px;
        color:white;
        text-align: start;
    }

    .phoneForm{
        padding: 40px 10px 20px 10px;
        width: calc(100% - 20px);
    }

}